@tailwind base;
@tailwind components;
@tailwind utilities;

/* .FooterMarqueeLink:hover > .footerArrow {
  rotate: 45deg;
} */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.buttonMainGradient {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, #1d4ed8, #60a5fa, #9333ea, #1d4ed8);
  background-size: 200%;
}

.buttonGradient {
  animation: background-pan 3s linear infinite;
  background-size: 200%;
}
.backgroundGradient {
  animation: background-pan 10s linear infinite;
  background-size: 200%;
}

/* ------------------------------ SCROLLBAR ------------------------------ */
::-webkit-scrollbar {
  width: 5px;
}

/* button */
::-webkit-scrollbar-button {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}
/* Resizer */
::-webkit-resizer {
  background: #111;
}

html,
body {
  color: black;
  background: white;
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden;
}
